extends layout

block content
  h2= title
    br
    small Powered by Renzo Ziegler
  - var total = 0
  br
  form.form-inline
    div.form-group
      input#titulo(class="form-control", type="search", placeholder="Título")
    div.form-group
      input#plataforma(class="form-control", type="search", placeholder="Plataforma")
    div.form-group
      input#lancamento(class="form-control", type="search", placeholder="Ano de Lançamento")
    button#search(class="btn btn-default") Filtrar
  br
  table(class='table table-striped table-bordered')
    tr
      th Título
      th Plataforma
      th Gênero
      th Ano de Lançamento
      th Valor
      th Avaliação
      th Comentário
    each game in games
      - total += game.valor
      tr
        td= game.titulo
        td= game.plataforma
        td= game.genero
        td= game.lancamento
        td= game.valor
        td= game.avaliacao
        td= game.comentario
    tr
      td
      td
      td
      td
        b Total
      td= total
      td
      td
  br
  button#add(class="btn btn-default") Adicionar